@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');
@import "tailwindcss";


@theme {
  --font-sans: "Roboto", sans-serif;
  --font-display: "Varela Round", sans-serif;
  --font-weight-sans: 100;
  --font-weight-display: 100;


  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee-right: marquee-right 25s linear infinite;
  
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  
  @keyframes marquee-right {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
  }

}


html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}



.custom-scrollbar {
  scrollbar-color: #999 #f0f0f0;
  overflow-x: auto; 
  pointer-events: none;
}


